.mediumContainer {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--ifm-toc-border-color);
    margin-bottom: 20px;
}

.sectionTitle p {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}

.mediumBlockContainer {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.mediumBlockContainer a {
    color: #ffffff;
    text-decoration: none;
}

.mediumBlock {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 234px;
    border: 1px solid var(--ifm-toc-border-color);
    border-radius: 6px;
}

.mediumBlock:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.descriptionBlock {
    background: #1F2526;
    border-top: 1px solid #383939;
    height: 113px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.articleTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 0;
    max-width: 360px;
}

.articleDate {
    position: absolute;
    bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 0;
}

@media (max-width: 996px) {
    .mediumContainer {
        width: 89%;
    }

    .mediumBlockContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 460px) {
    .mediumBlock {
        width: 300px;
        height: auto;
    }

    .descriptionBlock {
        padding: 14px;
    }

    .articleDate {
        bottom: 14px;
    }
}