.tutorialContainer {
    margin-top: 100px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--ifm-toc-border-color);
    margin-bottom: 20px;
}

.sectionTitle p {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}

.tutorialBlockContainer {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.tutorialBlockContainer a {
    color: #ffffff;
    text-decoration: none;
}

.tutorialBlock {
    width: 390px;
    height: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--ifm-toc-border-color);
    border-radius: 6px;
}

.tutorialBlock:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.tutorialTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 0;
    max-width: 360px;
}

@media (max-width: 996px) {
    .tutorialContainer {
        width: 89%;
    }

    .tutorialBlockContainer {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 460px) {
    .tutorialBlock {
        width: 300px;
        height: 80px;
        padding: 14px;
    }

    .tutorialTitle {
        font-size: 16px;
    }
}
