.learnMainWrapper {

}

.learnMainWrapper .navbar__toggle {
    display: none;
}

.learnMainWrapper .main-wrapper {
    padding-left: 0;
}

.learnMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 110px 20px 20px 20px;*/
}

.learnMainContainer .navbar__toggle {
    display: none;
}

.learnHeaderContainer {
    padding: 132px 0;
    width: 100%;
    background: url("/img/banner-bg.png");
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--ifm-toc-border-color);
}

.learnHeaderText {
    width: 800px;
}

.learnHeaderTitle {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
}

.learnHeaderDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 0;
}


@media (max-width: 996px) {
    .learnMainWrapper .navbar__inner {
        padding: 0 4%;
    }

   .learnHeaderText {
       width: 89%;
   }
}



