.header-twitter-link, .header-discord-link, .header-element-link, .header-medium-link {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    opacity: 0.6;
  }

  &:before {
    content: '';
    display: flex;
  }
}

.header-twitter-link {
  &:before {
    background: url('/static/img/twitter-dark.svg') no-repeat;
    height: 17px;
    width: 22px;
    margin-right: 6px;

    html[data-theme='dark'] & {
      background: url("/static/img/twitter.svg") no-repeat;
      height: 18px;
    }
  }
}

.header-discord-link {
  &:before {
    background: url('/static/img/discord-dark.svg') no-repeat;
    height: 16px;
    width: 22px;
    margin-right: 10px;

    html[data-theme='dark'] & {
      background: url("/static/img/discord.svg")
        no-repeat;
    }
  }
}

.header-element-link {
  &:before {
    background: url('/static/img/element-dark.svg') no-repeat;
    height: 23px;
    width: 23px;
    margin-right: 6px;

    html[data-theme='dark'] & {
      background: url("/static/img/element.svg") no-repeat;
    }
  }
}

.header-medium-link {
  &:before {
    background: url('/static/img/medium-dark.svg') no-repeat;
    height: 13px;
    width: 23px;
    margin-right: 6px;

    html[data-theme='dark'] & {
      background: url("/static/img/medium.svg") no-repeat;
    }
  }
}

@media (max-width: 996px) {
  .header-twitter-link, .header-discord-link, .header-element-link, .header-medium-link {
    display: none;
  }
}
