.navbar__brand {
  height: 2.9rem;
}

.navbar__toggle {
  margin-right: 27px;
}

.navbar--fixed-top {
  padding: 0;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.navbar__items {
  flex: initial;
}

.navbar-sidebar__back {
  display: none;
}

.navbar__inner {
  padding: 0 3%;
}

.navbar__inner .navbar__items--right > :last-child {
  display: none;
}

@media (max-width: 994px) {
  .navbar__inner .navbar__items:first-child {
    width: calc(100% - 77px);
  }
}

@media (min-width: 997px) {
  aside[class^='docSidebarContainer'] {
    border-right-width: 2px;
  }

  html [class^='tableOfContents'] {
    top: var(--ifm-navbar-height);
  }
}

@media (max-width: 767px) {
  .navbar--fixed-top {
    padding: 0;
  }
}
